.servicecontainer {
    width: 1535px;
    max-width: 1550px;
    padding: 10px;

}

.servicesimage {
    margin-top: -20px;
    width: 100%;
    height: 700px;
}

@media (max-width: 720px) {
    .servicecontainer {
        width: auto;
        max-width: 1000px;
    }
    .servicesimage {
        width: 100%;
        height: 300px;
        max-width: 1000px;
    }
}