.message-page {
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
}

.message-container {
    width: 100%;
}

.message-row {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
}

.msgname,
.msgemail {
    flex: 1;
    font-size: 1.2em;
    color: #333;
    margin-bottom: 5px;
}

.msgemail {
    color: #555;
}

.reply-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.reply-button:hover {
    background-color: #0056b3;
}

.reply-form {
    margin-top: 10px;
}

.textarea-wrapper {
    position: relative;
    width: 100%;
}

.textarr {
    width: 100%;
    height: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 0;
    resize: none;
    font-size: 1em;
    text-align: start;
    justify-content: center;
}

.send-reply-btn {
    position: absolute;
    right: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    margin: 7px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.send-reply-btn:hover {
    background-color: #218838;
}

.error-message {
    color: red;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .message-container {
        width: 100%;
    }
    .message-row {
        flex-direction: row;
    }
    
    .msgname,
    .msgemail {
        margin-bottom: 0;
    }
}


@media (max-width: 500px) {
    .message-page {
        width: 380px;
        max-width: 1530px;
        margin: 0 auto;
        margin-top: 70px;
        padding: 30px;
    }

    .textarr {
        height: 80px;
        padding: 15px;
    }

    .send-reply-btn {
        padding: 8px 15px;
        font-size: 0.9em;
    }
    .msgname,
    .msgemail {
    flex: 1;
    font-size: 15px;
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
    }
}
